PORT=4004
USERS_SERVICE_URL="http://localhost:4001"
DESTINATIONS_SERVICE_URL="http://localhost:4002"
ITINERARIES_SERVICE_URL="http://localhost:4003"
REDIS_URL="redis://localhost:6379"
RABBITMQ_URL="amqp://localhost:5672"
NODE_ENV="development"
