PORT=3000
USERS_SERVICE_URL="http://localhost:4001"
DESTINATIONS_SERVICE_URL="http://localhost:4002"
ITINERARIES_SERVICE_URL="http://localhost:4003"
RECOMMENDATIONS_SERVICE_URL="http://localhost:4004"
NODE_ENV="development"
